# Basic Python cache files
__pycache__/
*.pyc
.ruff_cache/
.pytest_cache/
coverage/
.venv/
venv/
env/

# Local environment files
.env

# Database files
db.sqlite3

# Docker configuration files
Dockerfile
.dockerignore
